*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
h1 {
    color: #f76c6c;
    border: 1px solid whitesmoke;
}

nav {
    background-color: #f76c6c;
    color: whitesmoke;
    font-weight: 300;
    padding: 0.5rem;
}

nav > ul {
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    margin-right: 1rem;
}

header {
    min-height: 250px;
    background: no-repeat url(https://loremflickr.com/cache/resized/65535_51891814507_ee8739bbfd_h_1200_300_nofilter.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    line-height: 1.5;
}

section {
    max-width: 65ch;
    margin: 0 auto;
}

div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

article {
    flex-grow: 1;
    max-width: 50%;
    min-width: 300px;
    border-radius: 1rem;
    box-shadow: 0 .25rem .25rem 0 lightgrey;
}

article > h1 {
    margin-left: 5px
}

footer {
    background-color: #f76c6c;
}
